# Merge and clean the dataset

In [248]:
import numpy as np
import pandas as pd

In [249]:
# load the structured datasets 
bangalore = pd.read_csv("./Structured-Data/bangalore.csv")
chennai = pd.read_csv("./Structured-Data/chennai.csv")
delhi = pd.read_csv("./Structured-Data/delhi.csv")
jaipur = pd.read_csv("./Structured-Data/jaipur.csv")
kolkata = pd.read_csv("./Structured-Data/kolkata.csv")

## Merge the Datasets

In [250]:
# merge the datasets
final_car_data = pd.concat([bangalore, chennai, delhi, jaipur, kolkata], axis=0)

In [251]:
# shape
final_car_data.shape

(6886, 109)

In [252]:
pd.options.display.max_columns = 200
final_car_data.head()

,it,ft,bt,km,transmission,ownerNo,owner,oem,model,modelYear,centralVariantId,variantName,price,priceActual,priceSaving,priceFixedText,trendingText.imgUrl,trendingText.heading,trendingText.desc,Registration Year,Insurance Validity,Fuel Type,Seats,Kms Driven,RTO,Ownership,Engine Displacement,Transmission,Year of Manufacture,Mileage,Engine,Max Power,Torque,Seats.1,Wheel Size,Color,Engine Type,Displacement,Max Power.1,Max Torque,No of Cylinder,Values per Cylinder,Value Configuration,Fuel Suppy System,BoreX Stroke,Compression Ratio,Turbo Charger,Super Charger,Seating Capacity,Steering Type,Tyre Type,Alloy Wheel Size,No Door Numbers,Length,Width,Height,Wheel Base,Front Tread,Rear Tread,Kerb Weight,Gross Weight,Ground Clearance Unladen,Seating Capacity.1,Steering Type.1,Tyre Type.1,Alloy Wheel Size.1,No Door Numbers.1,Gear Box,Drive Type,Seating Capacity.2,Steering Type.2,Turning Radius,Front Brake Type,Rear Brake Type,Top Speed,Acceleration,Tyre Type.2,No Door Numbers.2,Cargo Volumn,Alloy Wheel Size.2,City,heading,top,Color.1,Engine Type.1,Displacement.1,Max Power.2,Max Torque.1,No of Cylinder.1,Values per Cylinder.1,Value Configuration.1,Fuel Suppy System.1,Turbo Charger.1,Super Charger.1,BoreX Stroke.1,Compression Ratio.1,Color.2,Engine Type.2,Displacement.2,Max Power.3,Max Torque.2,No of Cylinder.2,Values per Cylinder.2,Value Configuration.2,Fuel Suppy System.2,Turbo Charger.2,Super Charger.2,BoreX Stroke.2,Compression Ratio.2
0,0,Petrol,Hatchback,"1,20,000",Manual,3,3rd Owner,Maruti,Maruti Celerio,2015,3979,VXI,â‚¹ 4 Lakh,NaN,NaN,NaN,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days,2015,Third Party insurance,Petrol,5 Seats,"1,20,000 Kms",KA51,Third Owner,998 cc,Manual,2015.0,23.1 kmpl,998 CC,67.04bhp,90Nm,5.0,NaN,White,K10B Engine,998.0,67.04bhp@6000rpm,90Nm@3500rpm,3.0,4.0,DOHC,MPFi,73 X 82 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN,3715mm,1635mm,1565mm,2425mm,1420mm,1410mm,835kg,1250kg,NaN,NaN,NaN,NaN,NaN,NaN,5 Speed,FWD,5.0,Power,4.7 metres,Ventilated Disc,Drum,150 Kmph,15.05 Seconds,"Tubeless, Radial",5.0,235-litres,NaN,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,Petrol,SUV,"32,706",Manual,2,2nd Owner,Ford,Ford Ecosport,2018,6087,1.5 Petrol Titanium BSIV,â‚¹ 8.11 Lakh,NaN,NaN,NaN,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days,Feb 2018,Comprehensive,Petrol,5 Seats,"32,706 Kms",KA05,Second Owner,1497 cc,Manual,2018.0,17 kmpl,1497 CC,121.31bhp,150Nm,5.0,16,White,Ti-VCT Petrol Engine,1497.0,121.31bhp@6500rpm,150Nm@4500rpm,3.0,4.0,DOHC,Direct Injection,79 X 76.5 mm,11.0:1,No,No,NaN,NaN,NaN,NaN,NaN,3998mm,1765mm,1647mm,2519mm,NaN,NaN,1242Kg,1660Kg,NaN,NaN,NaN,NaN,NaN,NaN,5 Speed,FWD,5.0,Power,5.3 metres,Ventilated Disc,Drum,NaN,NaN,"Tubeless,Radial",4.0,352-litres,16,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,Petrol,Hatchback,"11,949",Manual,1,1st Owner,Tata,Tata Tiago,2018,2983,1.2 Revotron XZ,â‚¹ 5.85 Lakh,NaN,NaN,NaN,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days,Sept 2018,Comprehensive,Petrol,5 Seats,"11,949 Kms",KA03,First Owner,1199 cc,Manual,2018.0,23.84 kmpl,1199 CC,84bhp,114Nm,5.0,14,Red,Revotron Engine,1199.0,84bhp@6000rpm,114Nm@3500rpm,3.0,4.0,DOHC,MPFi,77 X 85.8 mm,10.8:1,No,No,NaN,NaN,NaN,NaN,NaN,3746mm,1647mm,1535mm,2400mm,1400mm,1420mm,1012kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 Speed,FWD,5.0,Power,4.9 meters,Disc,Drum,150 kmph,14.3 Seconds,Tubeless,5.0,242-litres,14,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,Petrol,Sedan,"17,794",Manual,1,1st Owner,Hyundai,Hyundai Xcent,2014,1867,1.2 Kappa S Option,â‚¹ 4.62 Lakh,NaN,NaN,NaN,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days,Dec 2014,Comprehensive,Petrol,5 Seats,"17,794 Kms",KA53,First Owner,1197 cc,Manual,2014.0,19.1 kmpl,1197 CC,81.86bhp,113.75Nm,5.0,14,Others,Kappa VTVT Petrol Engine,1197.0,81.86bhp@6000rpm,113.75Nm@4000rpm,4.0,4.0,DOHC,Direct Injection,NaN,NaN,No,No,NaN,NaN,NaN,NaN,NaN,3995mm,1660mm,1520mm,2425mm,1479mm,1493mm,1180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5 Speed,FWD,5.0,Power,4.7 metres,Disc,Drum,172km/hr,14.2 Seconds,"Tubeless,Radial",4.0,407-litres,14,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Diesel,SUV,"60,000",Manual,1,1st Owner,Maruti,Maruti SX4 S Cross,2015,4277,DDiS 200 Zeta,â‚¹ 7.90 Lakh,NaN,NaN,NaN,https://stimg.cardekho.com/used-cars/common/ic...,Trending Car!,High chances of sale in next 6 days,2015,Third Party insurance,Diesel,5 Seats,"60,000 Kms",KA04,First Owner,1248 cc,Manual,2015.0,23.65 kmpl,1248 CC,88.5bhp,200Nm,5.0,16,Gray,DDiS 200 Diesel Engine,1248.0,88.5bhp@4000rpm,200Nm@1750rpm,4.0,4.0,DOHC,NaN,69.6 x 82 mm,NaN,Yes,No,NaN,NaN,NaN,NaN,NaN,4300mm,1785mm,1595mm,2600mm,NaN,NaN,1230Kg,1670kg,NaN,NaN,NaN,NaN,NaN,NaN,5 Speed,FWD,5.0,Power,5.2 meters,Ventilated Disc,Solid Disc,190 Kmph,12 Seconds,"Tubeless,Radial",5.0,353-litres,16,Bangalore,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- `Fuel Type` - Different fuel types have varying values (e.g., diesel vs. petrol).
- `Body Type` - SUVs, hatchbacks, and sedans have different market values.
- `Transmission` - Manual vs. automatic transmission impacts car value.
- `Number of Previous Owners` - More owners can reduce car resale value.
- `Manufacturer` - Brand impacts the price (e.g., luxury brands have higher value).
- `Model` - Model affects price, as some models hold value better.
- `modelYear` - Age of the car is one of the main price determinants.
- `Price` - This is typically used for supervised learning models if itâ€™s the target.
- `Insurance Status` - Cars with valid insurance are often valued higher.
- `Kilometers Driven` - Mileage affects wear and resale value.
- `Fuel Efficiency` - Higher mileage cars may be more desirable.
- `Engine` - Engine size/power can affect value.
- `Seating Capacity` - Affects demand and resale value (e.g., family cars with more seats).
- `Color` - Certain colors may be valued higher or lower depending on trends.
- `Location` - Market prices can vary by location.

In [253]:
necessary_columns = [
    'ft',                 
    'bt',                 
    'transmission',       
    'ownerNo',            
    'oem',                
    'model',              
    'modelYear',          
    'price', 
    'Insurance Validity', 
    'Kms Driven',         
    'Mileage',            
    'Engine',             
    'Seats',              
    'Color',              
    'City'                
]

In [254]:
# drop the unnecessary columns 
final_car_dataset = final_car_data[necessary_columns]

In [255]:
final_car_dataset.columns

Index(['ft', 'bt', 'transmission', 'ownerNo', 'oem', 'model', 'modelYear',
       'price', 'Insurance Validity', 'Kms Driven', 'Mileage', 'Engine',
       'Seats', 'Color', 'City'],
      dtype='object')

In [256]:
# rename the columns
final_car_dataset = final_car_dataset.rename({"ft": "Fuel_Type", "bt": "Body_Type", "oem": "Brand", "Insurance Validity": "Insurance_Validity","Kms Driven":"Kms_Driven","Gear Box": "Gear_Box","Drive Type": "Drive_Type"}, axis='columns')

In [257]:
final_car_dataset.head()

,Fuel_Type,Body_Type,transmission,ownerNo,Brand,model,modelYear,price,Insurance_Validity,Kms_Driven,Mileage,Engine,Seats,Color,City
0,Petrol,Hatchback,Manual,3,Maruti,Maruti Celerio,2015,â‚¹ 4 Lakh,Third Party insurance,"1,20,000 Kms",23.1 kmpl,998 CC,5 Seats,White,Bangalore
1,Petrol,SUV,Manual,2,Ford,Ford Ecosport,2018,â‚¹ 8.11 Lakh,Comprehensive,"32,706 Kms",17 kmpl,1497 CC,5 Seats,White,Bangalore
2,Petrol,Hatchback,Manual,1,Tata,Tata Tiago,2018,â‚¹ 5.85 Lakh,Comprehensive,"11,949 Kms",23.84 kmpl,1199 CC,5 Seats,Red,Bangalore
3,Petrol,Sedan,Manual,1,Hyundai,Hyundai Xcent,2014,â‚¹ 4.62 Lakh,Comprehensive,"17,794 Kms",19.1 kmpl,1197 CC,5 Seats,Others,Bangalore
4,Diesel,SUV,Manual,1,Maruti,Maruti SX4 S Cross,2015,â‚¹ 7.90 Lakh,Third Party insurance,"60,000 Kms",23.65 kmpl,1248 CC,5 Seats,Gray,Bangalore

# Data Preprocessing (nulls, duplicates, data format, ..etc)

In [258]:

print(final_car_dataset['price'].head())

0       â‚¹ 4 Lakh
1    â‚¹ 8.11 Lakh
2    â‚¹ 5.85 Lakh
3    â‚¹ 4.62 Lakh
4    â‚¹ 7.90 Lakh
Name: price, dtype: object

In [259]:
# function to convert mixed units in common INR
def convert_price_to_inr(price):
    # remove the commas (,) and currency symbol (â‚¹) and convert to lower case
    price = price.replace(',', '').replace('â‚¹', '').strip().lower()
    
    # convert to base unit
    if 'crore' in price:
        return round(float(price.replace('crore', '').strip()) * 1e7, 2)
    elif 'lakh' in price:
        return round(float(price.replace('lakh', '').strip()) * 1e5, 2)
    else:
        # assume if already is in INR and not unit is present
        try:
            return round(float(price), 2)
        except ValueError:
            return None

In [260]:
# price column
final_car_dataset['price'] = final_car_dataset['price'].apply(convert_price_to_inr)
final_car_dataset['price'].astype(float)

0       400000.0
1       811000.0
2       585000.0
3       462000.0
4       790000.0
          ...
1376    510000.0
1377    180000.0
1378    550000.0
1379    140000.0
1380    500000.0
Name: price, Length: 6886, dtype: float64

In [261]:
final_car_dataset.head(2)

,Fuel_Type,Body_Type,transmission,ownerNo,Brand,model,modelYear,price,Insurance_Validity,Kms_Driven,Mileage,Engine,Seats,Color,City
0,Petrol,Hatchback,Manual,3,Maruti,Maruti Celerio,2015,400000.0,Third Party insurance,"1,20,000 Kms",23.1 kmpl,998 CC,5 Seats,White,Bangalore
1,Petrol,SUV,Manual,2,Ford,Ford Ecosport,2018,811000.0,Comprehensive,"32,706 Kms",17 kmpl,1497 CC,5 Seats,White,Bangalore

In [262]:
# Body_Type 
final_car_dataset['Body_Type'] = final_car_dataset['Body_Type'].fillna(final_car_dataset['Body_Type'].mode()[0])

In [263]:
# Insurance validity 
# Fill missing values in Insurance_Validity based on the mode 
final_car_dataset['Insurance_Validity'] = final_car_dataset['Insurance_Validity'].fillna(final_car_dataset['Insurance_Validity'].mode()[0])

In [264]:
# Kms_Driven
final_car_dataset['Kms_Driven'] = final_car_dataset['Kms_Driven'].str.replace(",","").str.replace("Kms","").str.strip()
final_car_dataset['Kms_Driven'] = final_car_dataset['Kms_Driven'].astype(float)

In [265]:
# fill the missing value of Kms_driven with average
final_car_dataset['Kms_Driven'] = final_car_dataset['Kms_Driven'].fillna(final_car_dataset['Kms_Driven'].mean())

In [266]:
# Mileage 
# extract the 'kmpl' from mileage
final_car_dataset['Mileage'] = final_car_dataset['Mileage'].str.extract(r'([\d\.]+)').astype(float)

In [267]:
# fill the null values of  mileage with mean()
final_car_dataset['Mileage'] = final_car_dataset['Mileage'].fillna(final_car_dataset['Mileage'].mean())

In [268]:
# Seats column
# extract the numeric part in seats
final_car_dataset['Seats'] = final_car_dataset['Seats'].str.extract(r'([\d]+)').astype(float)
# fill the null value  by mean()
final_car_dataset['Seats'] = final_car_dataset['Seats'].fillna(final_car_dataset['Seats'].mean()).astype(int)

In [269]:
# Engine column
# Extract the `CC` from the Engine
final_car_dataset['Engine'] = final_car_dataset['Engine'].str.extract(r'([\d]+)').astype(float)
# fill the null value by mean()
final_car_dataset['Engine'] = final_car_dataset['Engine'].fillna(final_car_dataset['Engine'].mean()).astype(int)

In [271]:
# Color column
# fill the missing value by forward fill method
final_car_dataset['Color'] = final_car_dataset['Color'].ffill()

In [273]:
# inspect the null values and duplicate and data format
final_car_dataset.isnull().sum()

Fuel_Type             0
Body_Type             0
transmission          0
ownerNo               0
Brand                 0
model                 0
modelYear             0
price                 0
Insurance_Validity    0
Kms_Driven            0
Mileage               0
Engine                0
Seats                 0
Color                 0
City                  0
dtype: int64

In [279]:
# drop the duplicates
final_car_dataset.drop_duplicates(inplace=True)

In [281]:
final_car_dataset.duplicated().sum()

np.int64(0)

In [ ]:
# info
final_car_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6793 entries, 0 to 1380
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fuel_Type           6793 non-null   object
 1   Body_Type           6793 non-null   object
 2   transmission        6793 non-null   object
 3   ownerNo             6793 non-null   int64
 4   Brand               6793 non-null   object
 5   model               6793 non-null   object
 6   modelYear           6793 non-null   int64
 7   price               6793 non-null   float64
 8   Insurance_Validity  6793 non-null   object
 9   Kms_Driven          6793 non-null   float64
 10  Mileage             6793 non-null   float64
 11  Engine              6793 non-null   int64
 12  Seats               6793 non-null   int64
 13  Color               6793 non-null   object
 14  City                6793 non-null   object
dtypes: float64(3), int64(4), object(8)
memory usage: 849.1+ KB

In [284]:
final_car_dataset.head()

,Fuel_Type,Body_Type,transmission,ownerNo,Brand,model,modelYear,price,Insurance_Validity,Kms_Driven,Mileage,Engine,Seats,Color,City
0,Petrol,Hatchback,Manual,3,Maruti,Maruti Celerio,2015,400000.0,Third Party insurance,120000.0,23.10,998,5,White,Bangalore
1,Petrol,SUV,Manual,2,Ford,Ford Ecosport,2018,811000.0,Comprehensive,32706.0,17.00,1497,5,White,Bangalore
2,Petrol,Hatchback,Manual,1,Tata,Tata Tiago,2018,585000.0,Comprehensive,11949.0,23.84,1199,5,Red,Bangalore
3,Petrol,Sedan,Manual,1,Hyundai,Hyundai Xcent,2014,462000.0,Comprehensive,17794.0,19.10,1197,5,Others,Bangalore
4,Diesel,SUV,Manual,1,Maruti,Maruti SX4 S Cross,2015,790000.0,Third Party insurance,60000.0,23.65,1248,5,Gray,Bangalore

In [285]:
# save the preprocessed data 
final_car_dataset.to_csv("final_carDetails.csv", index=False)